<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>LogIn</h2>
    <form class="log" >
        <label for="fname">Email:</label><br>
        <input type="text" id="email" ><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="Password" ><br><br>
        
        <input type="checkbox" id="remember"  >
        <label for="rem"> Remember Me</label>  &nbsp &nbsp
        <label>Forget Password?</label>
      
        <br>
        <h3>Sign In</h3>
      
      </form> 
      
      
</body>
</html>