<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="css/style2.css">

</head>
<body>
<!-- partial:index.partial.html -->

<div class="box-form">
    
	<div class="left">
		<div class="overlay">
		<h1>ToDo App</h1>
		
		
		</div>
	</div>
	
	
		<div class="right">
            <div class="main">
                <div class="register">
                    <img src="images/logoo.png" style="height: 9ch; padding-left: 25ch; padding-top: 5ch; padding-right: 36ch;">

		<h5>Login</h5>
		<p>Don't have an account? <a href="#">Create Your Account</a> it takes less than a minute</p>
		<form class="inputs" action="/login" method="POST" id="formData">
			<input type="email" name="email" value="email" placeholder="User name" required="" title="Email is Required">
			<br>
			<input type="password" name="password" value="password" placeholder="password">
			<br><br>
			<button type="submit">LogIn</button>
		</form>
			
			<br><br>
			
		<div class="remember-me--forget-password">
			
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forgot password?</p>
		</div>
			
			<br>
			
	</div>
	
</div>

  
</body>
</html>
