<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/styles.css" type="text/css" >
</head>
<body>
       <header>
        <h1><b>TASKS FOR THE DAY</b></h1>
        <br>
        <br>
            <form id="taskform" onsubmit="onSubmitTodo(event)">
                <input type="text" name="taskinput" id="taskinput" placeholder=" Enter your plan for the day">
                <input type="submit" id="tasksubmit" value="Add Task">
                <br>
                <span id="errorMsg"></span>

            </form>
          <br>
    
        </header>
        <main>
            <section class="tasklist">
                
                <h1 >MY TO DO LIST </h1>
                <button type="submit" id="del" onclick="deleted(event)">Delete All</button>
                <br>
                <div id="tasks">
        <table class="table table-bordered" id="myTable" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ToDo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="toDoBody">

            </tbody>
        </table>
                </div>
            </section>
            
        </main>
        </div>
       
    
</body>
</html>